version: "3.9"
services:
  mirador:
    build:
      context: ./mirador
    restart: unless-stopped
    environment:
      - ip_host=192.168.1.190
    ports:
      - "8087:80"
    networks:
      rasa-networks:
        ipv4_address: 172.168.1.2
    container_name: mirador-container
  rasa-actions:
    image: rasa/rasa-sdk:3.2.1
    volumes:
      - type: bind
        source: ./rasa_repo/actions/
        target: /app/actions
    networks:
      rasa-networks:
        ipv4_address: 172.168.1.3
    restart: unless-stopped
    container_name: action-server
    ports:
      - 5055:5055
    environment:
      - ip_host=192.168.1.190
  rasa:
    build:
      context: .
    volumes:
      - type: bind
        source: ./rasa_repo
        target: /app
    container_name: rasa-server
    ports:
      - "5005:5005"
    restart: unless-stopped

    networks:
      rasa-networks:
        ipv4_address: 172.168.1.4
    command: run -m models --log-file rasa.log --enable-api --cors "*" --debug -p 5005
  mongo:
    image: mongo:5.0
    container_name: mongo
    environment:
        - MONGO_INITDB_ROOT_USERNAME=root
        - MONGO_INITDB_ROOT_PASSWORD=password
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - ./database/db:/data/db
      - ./database/dev.archive:/Databases/dev.archive
      - ./database/production:/Databases/production
    networks:
      rasa-networks:
        ipv4_address: 172.168.1.5
  mongo-express:
    image: mongo-express
    container_name: mexpress
    environment:
      - ME_CONFIG_MONGODB_ADMINUSERNAME=root
      - ME_CONFIG_MONGODB_ADMINPASSWORD=password
      - ME_CONFIG_MONGODB_URL=mongodb://root:password@mongo:27017/?authSource=admin
      - ME_CONFIG_BASICAUTH_USERNAME=mexpress
      - ME_CONFIG_BASICAUTH_PASSWORD=mexpress
    networks:
      rasa-networks:
        ipv4_address: 172.168.1.6
    restart: unless-stopped
    ports:
      - "8081:8081"

  supervisord:
    build:
      context: ./supervisord/
    container_name: supervisord
    ports:
      - "9001:9001"
    restart: unless-stopped

    networks:
      rasa-networks:
        ipv4_address: 172.168.1.7
    command: supervisord -c /etc/supervisor/supervisord.conf
networks:
  rasa-networks:
    external: false
    ipam:
      driver: default
      config:
        - subnet: 172.168.1.0/16
          gateway: 172.168.1.1
